@import "tailwindcss";

@tailwind utilities;

:root {
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
    --font-display: "Syne", sans-serif;
  }

@layer utilities {
  .font-mono {
    font-family: var(--font-mono);
  }
  .font-display {
    font-family: var(--font-display);
  }
}